<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicEventKT"
        tools:targetApi="31">
        <activity
            android:name=".activities.cambiarContrasena"
            android:exported="false" />
        <activity
            android:name=".activities.signUpActivity"
            android:exported="false" />
        <activity
            android:name=".models.editActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MisEventosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.menuInicio"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MagicEventKT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>